{% extends "base.html" %} {% block title %}Samopis Rozpocznij{% endblock %}




{% block content
%}
<head>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/style1.css">
    <link rel="stylesheet" href="./static/style3.css">
</head>



<form method="POST">
    <div class="route" id="welcome"></div>
    <div id="app">
        <div class="app-view">
            <header class="app-header">
                <h1>Generuj umowę na podstawie numeru księgi wieczystej</h1>

                <span class="app-subheading">
                    zaloguj się

                    albo<br />
                    rozpocznij bez logowania.




                    <!-- partial:index.partial.html -->
                    <a href="/wybierz" class="link">

                        <svg viewBox='0 0 200 200' width='300' height='1500' xmlns='http://www.w3.org/2000/svg' class="link__svg" aria-labelledby="link1-title link1-desc">
                            <title id="link1-title"> </title>
                            <desc id="link1-desc">A rotating link with text placed around a circle with an arrow inside</desc>

                            <path id="link-circle" class="link__path" d="M 20, 100 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" stroke="none" fill="none" />

                            <path class="link__arrow" d="M 75 100 L 125 100 L 110 85 M 125 100 L 110 115" fill="none" />

                            <text class="link__text">
                                <textPath href="#link-circle" stroke="none">
                                    START BEZ LOGOWANIA
                                </textPath>
                            </text>
                        </svg>
                    </a>
                </span>

                    <!-- partial -->
                


            </header>




            <input type="email" class="NewInput" id="email" name="email" required pattern=".*\.\w{2,}" placeholder="Adres e-mail" />




            <input type="password" class="NewInput" required placeholder="Hasło" id="password" name="password" />


            <a href="#welcome" class="btn app-button" onclick="document.querySelector('form').submit()">Zaloguj</a>

</form>


<div class="app-register">
    Nie masz konta?  <a href="/sign-up"> Zarejestruj się</a>
</div>



<svg id="svg-lines" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 284.2 152.7" xml:space="preserve">
<path class="st0" d="M37.7,107.3h222.6c12,0,21.8,9.7,21.8,21.7s-9.7,21.8-21.8,21.8c0,0-203.6,0-222.6,0S2.2,138.6,2.2,103.3   c0-52,113.5-101.5,141-101.5c13.5,0,21.8,9.7,21.8,21.8s-9.7,21.7-21.8,21.7s-21.8-9.7-21.8-21.7s9.7-21.8,21.8-21.8" />
<path class="st1" d="M260.2,76.3L250,87.8l-9-9c-6.2-6.2,2-24.7,17.2-24.7c15.2,0,23.9,17.7,23.9,29.7s-11.7,23.5-23.9,23.5h-10.2"></path>
<g class="svg-loader" xmlns="http://www.w3.org/2000/svg">
<path class="svg-loader-segment -cal" d="M164.7,23.5c0-12-9.7-21.8-21.8-21.8" />
<path class="svg-loader-segment -heart" d="M143,45.2c12,0,21.8-9.7,21.8-21.7" />
<path class="svg-loader-segment -steps" d="M121.2,23.5c0,12,9.7,21.7,21.8,21.7" />
<path class="svg-loader-segment -temp" d="M143,1.7c-12,0-21.8,9.7-21.8,21.8" />
      </g>
</svg>

</div>


    </div>


<div class="app-bar">
    <div class="app-menu-icon"></div>

</div>











    {% endblock %}
